:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
				 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
				 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--foreground-rgb: 0, 0, 0;
	--foreground-link-rgb: 29, 155, 240;
	--foreground-secondary-rgb: 83, 100, 113;
	--foreground-tooltip-rgb: 255, 255, 255;
	--foreground-modal-rgb: 255, 255, 255;
	--foreground-heart-rgb: 249, 24, 128;

	--background-rgb: 255, 255, 255;
	--background-secondary-rgb: 247, 249, 249;
	--background-hover-rgba: 0, 0, 0, 0.03;
	--background-tooltip-rgba: 0, 0, 0, 0.6;
	--background-modal-backdrop-rgba: 0, 0, 0, 0.9;
	--background-modal-rgb: 0, 0, 0;

	--shadow-rgba: 0, 0, 0, 0.3;

	--border-rgb: 207, 217, 222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--foreground-link-rgb: 29, 155, 240;
		--foreground-secondary-rgb: 113, 118, 123;
		--foreground-tooltip-rgb: 0, 0, 0;
		--foreground-modal-rgb: 0, 0, 0;
		--foreground-heart-rgb: 249, 24, 128;

		--background-rgb: 0, 0, 0;
		--background-secondary-rgb: 22, 24, 28;
		--background-hover-rgba: 255, 255, 255, 0.03;
		--background-tooltip-rgba: 255, 255, 255, 0.6;
		--background-modal-backdrop-rgba: 0, 0, 0, 0.9;
		--background-modal-rgb: 255, 255, 255;

		--shadow-rgba: 255, 255, 255, 0.3;

		--border-rgb: 47, 51, 54;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-noto-sans), var(--font-noto-color-emoji), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
