.contentImages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 140px;
	gap: 2px;
	border: 1px solid rgb(var(--border-rgb));
	border-radius: 16px;
	overflow: hidden;
}

.contentImagesEmbedded {
	border: none;
	border-radius: 0;
	margin-left: -16px;
	margin-right: -16px;
}

.contentImagesEmbedded:last-child {
	margin-bottom: -16px;
}

.contentImage {
	display: flex;
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
