.contentImages {
	border: 1px solid rgb(var(--border-rgb));
	border-radius: 16px;
	overflow: hidden;
}

.contentImagesEmbedded {
	border: none;
	border-radius: 0;
	margin-left: -16px;
	margin-right: -16px;
}

.contentImagesEmbedded:last-child {
	margin-bottom: -16px;
}

.contentImage {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
