
.note {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 12px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	word-break: break-word;
	gap: 12px;
}

.displayName {
	font-weight: 700;
}

.name {
	color: rgb(var(--foreground-secondary-rgb));
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: cover;
}

.content {
	white-space: pre-wrap;
	word-break: break-word;
}

.contentImages {
	border: 1px solid rgb(var(--border-rgb));
	border-radius: 16px;
	overflow: hidden;
}

.contentImage {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.metadata {
	margin: 16px 0;
}

.createdAt {
	color: rgb(var(--foreground-secondary-rgb));
}

.link {
	color: rgb(var(--foreground-link-rgb));
}
