
.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-family: inherit;
	font-size: inherit;
	font-weight: 700;

	height: 36px;
	border-radius: 9999px;
	border: 1px solid rgb(var(--border-rgb));
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	background-color: transparent;
}

.button:hover {
	background-color: rgb(var(--background-secondary-rgb));
}

.button:focus {
	border: 1px solid rgb(var(--foreground-link-rgb));
	outline: none;
}

.button:disabled {
	background-color: rgb(var(--background-secondary-rgb));
	border: 1px solid rgb(var(--border-rgb));
	cursor: not-allowed;
}
