
.embeddedNote {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid rgb(var(--border-rgb));
	border-radius: 16px;
	padding: 12px;
	overflow: hidden;
	cursor: pointer;
	transition: background 0.2s ease;
}

.embeddedNote:hover {
	background: rgba(var(--background-hover-rgba));
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.avatar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	object-fit: cover;
}

.name {
	flex-shrink: 1;
	min-width: 0;

	overflow: hidden;
	text-overflow: ellipsis;

	color: rgb(var(--foreground-secondary-rgb));
}
