.contentMedias {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 140px;
	gap: 2px;
	border: 1px solid rgb(var(--border-rgb));
	border-radius: 16px;
	overflow: hidden;
}

.contentMediasEmbedded {
	border: none;
	border-radius: 0;
	margin-left: -16px;
	margin-right: -16px;
}

.contentMediasEmbedded:last-child {
	margin-bottom: -16px;
}

.contentImage {
	display: flex;
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.contentMediasDialogOverlay {
	display: flex;
	flex-direction: column;

	background: rgba(var(--background-modal-backdrop-rgba));

	--foreground-rgb: var(--foreground-modal-rgb);
	--background-rgb: var(--background-modal-rgb);
}

.contentMediasDialog {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	max-height: 100%;

	color: rgb(var(--foreground-rgb));
}

.contentMediasDialogClose {
	position: absolute;

	top: 0;
	left: 0;

	padding: 20px;
}
