
.lastPageLastEventWrap {
	min-height: 100vh;
}

.newNotes {
	position: sticky;
	top: 0;
	height: 0;

	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.newNotesVisible {
	display: flex;
}

.newNotesPill {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 4px;

	margin: 16px 0;
	padding: 4px 16px;
	min-height: 40px;
	border-radius: 20px;

	background: rgb(var(--foreground-link-rgb));
	color: rgb(var(--foreground-tooltip-rgb));

	cursor: pointer;
	user-select: none;
}

.newNotesButton {
	display: none;
	align-items: center;
	justify-content: center;

	height: 48px;

	border-bottom: 1px solid rgb(var(--border-rgb));

	color: rgb(var(--foreground-link-rgb));

	cursor: pointer;
	user-select: none;
}

.newNotesButton:hover {
	background: rgba(var(--background-hover-rgba));
}

.newNotesButtonVisible {
	display: flex;
}
